<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gas_Monitoring2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Gas_Monitoring2.Properties.Settings>
      <setting name="address" serializeAs="String">
        <value>203.250.78.168</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>3307</value>
      </setting>
      <setting name="id" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="pw" serializeAs="String">
        <value>offset01</value>
      </setting>
      <setting name="schema" serializeAs="String">
        <value>gas_v2.0</value>
      </setting>
      <setting name="gas_yellow" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="gas_red" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="gas2_yellow" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="gas2_red" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="gas3_yellow" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="gas3_red" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="gas4_yellow" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="gas4_red" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="gas5_yellow" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="gas5_red" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="gas6_yellow" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="gas6_red" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="alert" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="timer" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="sendaddress" serializeAs="String">
        <value>gas.monitoring.pfd@gmail.com</value>
      </setting>
      <setting name="sendpw" serializeAs="String">
        <value>offset01</value>
      </setting>
      <setting name="toaddress" serializeAs="String">
        <value>sejong055@gmail.com</value>
      </setting>
      <setting name="mail" serializeAs="String">
        <value>True</value>
      </setting>
    </Gas_Monitoring2.Properties.Settings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2019Colorful</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>